---
---

@import "{{ site.theme }}";

#main_content {
  
  display: inline-block;
  width: 70%;
  max-width: none;

}

#left_side {
  
  float: left;
  width: 25%;
  min-width: 180px;
  padding-top: 40px;

}

@media screen and (max-width: 800px) {
  img {
    max-width: 90%;
  }

#main_content {
  
  display: block;
  width: 100%;

}

#left_side {
  
  float: none;
  width: 100%;
  text-align: center;

}

.inner {

  padding: 0;

}

.outer {

  padding: 5px;

}

}

@media screen and (max-width: 480px) {

}
