---
---

@import "{{ site.theme }}";

#main_content {
  
  display: inline-block;
  width: 60%;

}

#left_side {
  
  float: left;
  width: 20%;

}

#right_side {
  
  float: right;
  width: 20%;

}

@media screen and (max-width: 992px) {
  img {
    max-width: 90%;
  }
}

@media screen and (max-width: 480px) {

#main_content {
  
  display: block;
  width: 100%;

}

#left_side {
  
  float: none;
  width: 100%;

}

#right_side {
  
  float: none;
  width: 100%;

}


}
